{% extends "calendar/layout.html" %}
{% load static %}

{% block body %}

<div class="flex flex-col items-center gap-6">
    <div class="flex gap-4 items-center">
        <a href="{% url 'index' prev_year prev_month %}"
            class="hover:bg-gradient-to-l from-orange-300 to-slate-500 hover:bg-clip-text hover:text-transparent">Previous</a>
        <hr class="border h-4" />
        <h1 tabindex=0
            class="font-bold text-xl bg-gradient-to-r from-orange-300 to-slate-500 bg-clip-text text-transparent">{{month_name}} {{ year }}</h1>
        <hr class="border h-4" />
        <a href="{% url 'index' next_year next_month %}"
            class="hover:bg-gradient-to-l from-orange-300 to-slate-500 hover:bg-clip-text hover:text-transparent">Next</a>
    </div>
    <form action="{% url 'search' %}" method="post" class="text-base w-100 flex gap-2">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Search" class="hover:bg-gradient-to-l from-orange-300 to-slate-500 hover:bg-clip-text hover:text-transparent border p-1 w-28 rounded-md hover:border-orange-300 cursor-pointer">
    </form>

    <div class="max-w-[100dvw] overflow-scroll">
        <table>
            <thead>
                <tr>
                    <th class="font-light">Monday</th>
                    <th class="font-light">Tuesday</th>
                    <th class="font-light">Wendsday</th>
                    <th class="font-light">Thursday</th>
                    <th class="font-light">Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                </tr>
            </thead>
            <tbody>
                {% for week in month_days %}
                <tr>
                    {% for day in week %}
                    <td class="min-w-28 w-[13dvw] max-w-[13dvw] border h-28 px-2 align-top hover:bg-slate-50">
                        {% if day != 0 %}
                        {{ day }}
                        <ul class="list-disc pl-3">
                            {% for event in events %}
                            {% if event.start_time.month == month %}
                            {% if event.start_time.day == day %}
                            <li class="overflow-hidden text-ellipsis line-clamp-2 leading-[0] py-1">
                                <a href="{% url 'event' event.id %}"
                                    class="text-xs hover:pointer hover:text-orange-300">{{ event.name }}</a>
                            </li>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}